.empro_nav{
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}

.empro_top{
    background-color: rgb(120, 120, 182);
}

.bottom-form{
    margin-bottom:-45%;
}

.container_empro{
    margin-left:10px ;
    margin-right:10px ;
    margin-top: 13%;
    /* padding-left: 20px; */
    /* background-color:rgb(73, 73, 80); */
    margin-bottom:-10%;
}


.empro_gif{
    width:100%;
    height: auto;
}

#a_empro{
    font-size: 18px;
    font-weight: bold;
}
#a_empro:hover{
    color:blue;
}
.phone,.address,.email,.url{
    color: white;
}
#info_footer{
    color: white;
}

/* style de buttons et texte */
.btn-empro{
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 25px;
    color: #ffffff;
    background: linear-gradient(to right,  rgb(25,53,95) 7%, rgb(60,127,255) 37%, rgb(69,145,255) 43%,rgb(25,53,95) 100%);
}
.btn-empro:hover{
    background: transparent;
    color: rgb(25,53,95);
    border: 2px solid rgb(25,53,95);

}
.btn-empro2{
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 25px;
    color: rgb(252,69,43);
    background: transparent;
    border: 2px solid rgb(252,69,43);
    /* background: linear-gradient(to right,  rgb(252,69,43) 8%, rgb(240, 91, 65) 37%, rgb(228, 110, 71) 53%,rgb(252,77,43) 100%); */
}
.btn-empro2:hover{
    color: #fff;
    background: linear-gradient(to right,  rgb(252,69,43) 8%, rgb(240, 91, 65) 37%, rgb(228, 110, 71) 53%,rgb(252,77,43) 100%);

}
/* fin des style */